{% extends "layout.html" %}

{% block body %}
    <div id="suggest" class="section">
        <h1>Usefull Tips and Suggestions</h1>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <img class="tip" src="/static/do.jpeg" alt="Change the way you feel">
              </div>
              <div class="col">
                <img class="tip" src="/static/drink.jpeg" alt="Tasty smoothies as a meal">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img class="tip" src="/static/tea.jpeg" alt="Different teas to fight illnesses">
              </div>
              <div class="col">
                <img class="tip" src="/static/eat.jpeg" alt="Things to eat after 8pm">  
              </div>
            </div>
          </div>
    </div>
{% endblock %}